@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Goldman", sans-serif;
  color: white;
}
